<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
查询成功
<table style="display: inline-block; width: 100%">
    <thead>
        <tr>
            <th>序号</th>
            <th>填报人</th>
            <th>教材名称</th>
            <th>主编</th>
            <th>主编排序</th>
            <th>出版社</th>
            <th>出版时间</th>
            <th>教材入选情况</th>
            <th>入选时间</th>
        </tr>
    </thead>
    <tbody>
        <tr><td th:each="info:${infos}" th:text="${info}"></td><td><a th:href="@{'/update/' + ${teacher.getId()}}">编辑</a></td></tr>
    </tbody>
</table>
    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="upload">
        <input type="submit" value="上传">
    </form>
    <a th:href="@{/deleteFilePath}">取消上传</a><br>
    <a th:href="@{/download}">下载</a>
</body>
</html>