<!DOCTYPE html>
<!--动态制定生成填报表格-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>信息填报系统</title>
    <script src="webjars/jquery/3.5.0/jquery.min.js"></script>
    <script>
    $(document).ready(function () {
        var InputCount=1;
        $("#AddMoreTextBox").click(function ()
        {
                InputCount++;
                $("#InputsWrapper").append('<p>选项'+InputCount+':</p>'+'<label></label><input type="text" name="news_' +  InputCount + '"' +'/><br/><br/>');
                $("#len").attr('value',InputCount);
            });
        });
    </script>
    <![endif]-->
</head>
<body>
    表格列表：<button th:id="AddMoreTextBox"><a src="addTable">添加表格项目</a></button>
    <form method="post" th:action="@{/addTableName}">
        <br/>
        <p>表格名:</p>
        <input type="text" name="table_name" ><br/><br/>
        <div id="InputsWrapper">
            <p>选项1:</p>
            <input type="text" name="news_1" ><br/><br/>
        </div>
        <input style="display:none" type="text" name="batch_name" th:value="${batch_name}">
        <input style="display:none" id="len" type="text" name="len" th:value="1">
        <input type="submit" name="edit" value="提交">
    </form>
</body>
</html>
